/*
 * nunomemo.css
 */

html {
  font-family: "PT Sans", Helvetica, Arial, "游ゴシック", "YuGothic", sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-bottom: 1rem;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3, h4, h5, h6 {
  font-size: 1rem;
}

/* Sidebar image */
.sidebar-about h1 {
  line-height: 1;
}
.sidebar img {
  display: inline-block;
  margin: 0;
}

/* Sidebar nav */
.sidebar-nav {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* Author links */
.author-links {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.author-links a {
  display: inline-block;
}

/* copy */
.copy {
  font-size: 1rem;
}

/* Date and Tag */
.post-date {
  margin-bottom: 1.5rem;
}
.post-date a {
  color: #9a9a9a;
}
.post-tags {
  margin-left: 0.25em;
}

/* My theme */
.theme-nunomemo .sidebar {
  background-color: #d8d8d8;
}
.theme-nunomemo .sidebar,
.theme-nunomemo .sidebar a {
  color: rgba(0,0,0,0.5);
}
