/*
 * nunomemo.css
 */

html {
  font-family: "PT Sans", Helvetica, Arial, "游ゴシック", "YuGothic", sans-serif;
  font-size: 14px;
  line-height: 1.75;
}
@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 48em) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-bottom: 1rem;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3, h4, h5, h6 {
  font-size: 1rem;
}

/* Sidebar image */
.sidebar-about h1 {
  line-height: 1;
}
.sidebar img {
  display: inline-block;
  margin: 0;
}

/* Sidebar nav */
.sidebar-nav {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* Accounts */
.accounts {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  padding: 0;
}
.accounts li {
  list-style-type: none;
  display: inline-block;
  margin-left: 0.5em;
}
.accounts li:first-child {
  margin-left: 0;
}

/* copy */
.copy {
  font-size: 1rem;
}

/* Post */
.post-detail {
  margin-bottom: 1em;
}

/* Date and Tag and ReadMore*/
.post-date {
  margin-bottom: 1.5rem;
}
.post-date a,
.readmore {
  color: #9a9a9a;
}
.post-tags {
  margin-left: 0.25em;
}

/* Share */
.share {
  padding-top: 1rem;
  padding-left: 0;
  margin-bottom: 0;
}
.share li {
  display: inline-block;
  list-style-type: none;
}

/* My theme */
.theme-nunomemo .sidebar {
  background-color: #d8d8d8;
}
.theme-nunomemo .sidebar,
.theme-nunomemo .sidebar a {
  color: rgba(0,0,0,0.5);
}
