<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Info -->
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {% if page.tags.size > 0 %}[{{ page.tags | join:'][' }}]{% endif %}{{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
  <meta name="keywords" content="{% for taglabel in site.taglabels %}{{ taglabel.name }},{% endfor %}hoge">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author.name }}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/hyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/nunomemo.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}assets/icons/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/icons/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Scripts -->
  <script src="https://use.fontawesome.com/65821fca80.js"></script>
</head>
