{% assign post = include.param %}
<!-- Date Time -->
<time datetime="{% if post.commits %}{{ post.commits[0].date }}{% else %}{{ post.date | date: "%Y-%m-%d" }}{% endif %}"></time>
<span class="post-date">
  <!-- Date -->
  <i class="fa fa-clock-o fa-fw"></i>{{ post.date | date: "%Y-%m-%d" }}
  <!-- Tags -->
  <span class="post-tags">
  {% assign list-id = "/" | append: post.categories[1] %}
  {% assign list = site.lists | where:"id", list-id | first %}
  <i class="fa fa-tag fa-fw"></i><a href="{{ list.url }}">{{ list.title }}</a>
  </span>
</span>
