{% assign post = include.param %}
<!-- Date Time -->
<time datetime="{% if post.commit %}{{ post.commit.date }}{% else %}{{ post.date | date: "%Y-%m-%d" }}{% endif %}"></time>
<span class="post-date">
  <!-- Date -->
  <i class="fas fa-clock fa-fw"></i> {{ post.date | date: "%Y-%m-%d" }}
  <!-- Commit -->
  {% if post.commit %}
  {% if post.commit.id %}
  <i class="fas fa-history fa-fw"></i> <a href="{{ site.github.repository_url }}/commit/{{ post.commit.id }}" target="_blank">{{ post.commit.date }}</a>
  {% else %}
  <i class="fas fa-history fa-fw"></i> <a href="{{ site.github.repository_url }}/commits/master/{{ post.path }}" target="_blank">{{ post.commit.date }}</a>
  {% endif %}
  {% endif %}
  <!-- Group -->
  {% assign group = site.groups | where:"category", post.categories[0] | first %}
  <i class="fas fa-{{ group.icon }} fa-fw"></i> <a href="{{ group.url }}">{{ group.title }}</a>
</span>
