<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ "/" | relative_url }}" title="{{ site.title }}">
        <span class="anim"></span>
      </a></h1>
      <p class="lead">@{{ site.author.id }}</p>
    </div>

    <nav class="sidebar-nav">
    <ul class="link-list">
      {% for group in site.groups %}
      <li><a class="sidebar-nav-item link-list-item{% if page.url == group.url %} active{% endif %}" href="{{ group.url }}"><i class="fas fa-hashtag fa-fw fa-sm"></i> {{ group.title }}</a></li>
      {% endfor %}
    </ul>
    </nav>

    <div class="accounts fa-lg">
      {% for account in site.data.accounts %}
      <a href="{{ account.url }}" title="{{ account.name }}" target="_blank"><i class="fab fa-{{ account.icon }}"></i></a>
      {% endfor %}
    </div>

    <p class="copy">&copy; {{ site.posts.last.date | date: '%Y' }}-{{ site.time | date: '%Y' }} {{ site.author.id }}</p>
  </div>
</div>
