<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ "/" | relative_url }}" title="{{ site.title }}">
        <span class="anim"></span>
      </a></h1>
      <p class="lead">@{{ site.author.id }}</p>
    </div>

    <nav class="sidebar-nav">
    <ul>
      {% for group in site.groups %}
      <li><i class="fa fa-{{ group.icon }} fa-fw"></i><a class="sidebar-nav-item{% if page.url == group.url %} active{% endif %}" href="{{ group.url }}">{{ group.title }}</a></li>
      {% endfor %}
    </ul>
    </nav>

    <div class="accounts">
      {% for account in site.data.accounts %}
      <a href="{{ account.url }}" title="{{ account.name }}" target="_blank">
        <i class="fa fa-{{ account.icon }} fa-fw"></i>
      </a>
      {% endfor %}
    </div>

    <p class="copy">&copy; {{ site.posts.last.date | date: '%Y' }} - {{ site.time | date: '%Y' }}</p>
  </div>
</div>
