<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ site.baseurl }}" title="{{ site.title }}">
        <span class="anim"></span>
      </a></h1>
      <p class="lead">@{{ site.author.id }}</p>
    </div>

    <nav class="sidebar-nav">
    <ul>
      {% for taglabel in site.tag_labels %}
      <li><a class="sidebar-nav-item{% if page.url == taglabel.url %} active{% endif %}" href="{{ taglabel.url }}">{{ taglabel.title }}</a></li>
      {% endfor %}
    </ul>
    </nav>

    <p class="copy">&copy; {{ site.time | date: '%Y' }}. all rights reserved.</p>

    <ul class="accounts">
      {% for account in site.data.accounts %}
        <li><a href="{{ account.url }}" target="_blank"><i class="fa fa-{{ account.icon }} fa-fw" alt="{{ account.name }}"></i></a></li>
      {% endfor %}
    </ul>
  </div>
</div>
