// Placeholder to allow overriding predefined variables smoothly.

// Override defults
$base-font-family: "Sono", "Zen Maru Gothic", system-ui, sans-serif;
$code-font-family: "Sono", "Zen Maru Gothic", monospace;
$base-line-height: 1.9;
