// Placeholder to allow overriding predefined variables smoothly.

// Override defults
$base-font-family: Helvetica Neue, Arial, sans-serif;
$code-font-family: SFMono-Regular, Menlo, Consolas, monospace;
$base-line-height: 1.75;
$spacing-unit: 36px;
