// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

html {
  overflow-wrap: anywhere;
  line-break: strict;
  scrollbar-gutter: stable;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

blockquote {
  font-style: normal;
}

img {
  background-color: $code-background-color;
  height: auto;
  object-fit: cover;
  aspect-ratio: auto 3 / 2;

  &.top, .top & {object-position: top;}
  // 画像のアス比指定
  &.ar-4-3, .ar-4-3 & {aspect-ratio: 4 / 3;}
  &.ar-3-2, .ar-3-2 & {aspect-ratio: 3 / 2;}
}

.site-header {
  border-top: none;
}

.site-title {
  @include relative-font-size(1.5);
  letter-spacing: inherit;
}

.post-link {
  @include relative-font-size(1.25);
  word-break: auto-phrase;
}

.post-title,
.post-content h1 {
  @include relative-font-size(1.375);
  letter-spacing: inherit;
  line-height: 1.5;
  word-break: auto-phrase;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(1.625);
  }
}

.post-content {
  h2 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h3 {
    @include relative-font-size(1.25);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.25);
    }
  }

  h4 {
    @include relative-font-size(1.125);
  }
}

// footer暫定調整
.footer-col {
  text-align: center;
}
.footer-col:not(:has(*)) {
  display: none;
}
@media screen and (min-width: $on-medium) {
  .footer-col {
    flex: auto;

    &:last-child {
      padding: 0;
    }
  }
}
