---
layout: default
---
<!-- Post Detail -->
<div class="post post-detail">
  <!-- Title -->
  <h1 class="post-title">{{ page.title }}</h1>
  <!-- Meta -->
  {% include post-meta.html param = page %}

  <!-- Content -->
  {{ content | replace:site.excerpt_separator, '<p><i class="fas fa-ellipsis-h fa-fw fa-sm" id="more"></i></p>' }}

  <!-- Source -->
  {% if page.source %}
  <h2 class="info-title">Code</h2>
  <ul class="link-list">
    <li>{% assign source=page.source %}{% include link.html param=source icon='fas fa-heart' blank=1 %}</li>
  </ul>
  {% endif %}

  {% if page.refs.size > 0 %}
  <!-- References -->
  <h2 class="info-title">参考</h2>
  <ul class="link-list">
    {% for ref in page.refs %}
    <li>{% include link.html param=ref icon='fas fa-paperclip' blank=1 %}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <!-- Share Buttons -->
  {% include sharebuttons.html %}
</div>
<!-- Related Posts -->
{% assign related_posts = site.related_posts | where:"category", page.categories[0] %}
{% if related_posts.size > 0 %}
<div class="related">
  <h2>関連</h2>
  {% include related-posts.html posts = related_posts limit = 4 %}
</div>
{% endif %}
